{{#if this.buttonText}}
  <button type="button" class="btn btn-info filter-button" aria-label="Close">
    <FaIcon @icon={{this.icon.type}} class={{this.icon.size}} />
    {{this.buttonText}}
  </button>
{{/if}}
