<nav class="nav-bar">
  <ul>
    <li class="logo">
      <img src="assets/logo-v2-small.png" width="32" height="35" alt="logo">
    </li>
    <li>
      <LinkTo @route="boats">
        Boats
      </LinkTo>
    </li>
    <li>
      <LinkTo @route="map">
        Map
      </LinkTo>
    </li>
    <li>
      <LinkTo @route="boat-images">
        Images
      </LinkTo>
    </li>
    <li>
      <FavouriteList />
    </li>
  </ul>
</nav>
