<nav class="nav-bar">
  <ul>
    <li class="logo">
      <img src="assets/header-icon.png" width="35" height="35" alt="icon">
      Boat<span>Searcher</span>
    </li>
    <li>
      <LinkTo @route="boats">
        Boats
      </LinkTo>
    </li>
    <li>
      <LinkTo @route="map">
        Map
      </LinkTo>
    </li>
    <li>
      <LinkTo @route="boat-images">
        Images
      </LinkTo>
    </li>
    <li>
      <FavouriteList />
    </li>
  </ul>
</nav>
