<div class="carousel" {{did-insert (action this.registerSwiper)}}>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      {{#each @images as |image|}}
        <div class="swiper-slide">
          <img src={{image}}>
          <!-- <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div> -->
        </div>
      {{/each}}
    </div>

    <div class="swiper-button-prev swiper-button-white"></div>
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-pagination"></div>
  </div>

  {{yield}}

</div>
