<div {{did-insert (action this.registerGlide)}}>
  <div class="carousel">
    <div class="swiper-container">
      <div class="swiper-wrapper">

        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            {{#each @images as |image|}}
              <li class="glide__slide swiper-slide">
                <img src={{image}} alt="thumb">
              </li>
            {{/each}}
          </ul>
        </div>

      </div>
    </div>

    <div class="glide__arrows" data-glide-el="controls">
      <button class="glide__arrow glide__arrow--left" data-glide-dir="<">&lt;</button>
      <button class="glide__arrow glide__arrow--right" data-glide-dir=">">&gt;</button>
    </div>

    <div class="glide__bullets" data-glide-el="controls[nav]">
      {{#each @images as |image n|}}
        <button class="glide__bullet" data-glide-dir="={{n}}"></button>
      {{/each}}
    </div>

    {{yield}}

  </div>
</div>
