<div class="dropdown-button no-select {{if this.isSelected "dropdown-selected"}}"
  {{on "click" (stop-propagation this.onClick)}}
  ...attributes
>
  {{yield}}{{svg-jar this.iconDirection class="icon dropdown-icon"}}
</div>
