.no-border {
  border: none;
  outline: none;
}

.transparent-button {
  background: transparent;
  border: none;
  padding: 0;

  &:focus {
    outline: none;
  }
}

%button {
  cursor: pointer;
  white-space: nowrap;
  border: 0.1rem solid lightgrey;
  border-radius: $border-radius;
  padding: 0.5rem 1rem;
  user-select: none;
}

%menu-text {
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
}

%hidden {
  visibility: hidden;
  opacity: 0;
}

.visible {
  display: flex;
  visibility: visible;
  opacity: 1;
  transition-duration: 150ms;
}

.mask-content {
  opacity: 0.1;
}

.hidden {
  display: none;
}

.shown {
  display: block;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Opera and Firefox */
}
