$font-color: #2f3c53;
$light-grey: #888;
$yellow: #febb02;
$teal: #35cdb8;
$carousel-green: rgb(49, 169, 145);
$carousel-red: #df644b;
$background-grey: #eff3f6;
$separator-light: #f3f3f3;

$border-radius: 0.3rem;
