@import "variables";
@import "mixins";
@import "animations";
@import "components/ui";
@import "components/navbar";
@import "components/filter-bar";
@import "components/listings";
@import "components/carousel";
@import "components/pagination";
@import "components/flash-message";
@import "components/favourites-dropdown";
@import "components/mobile";
@import "components/mobile-map";
@import "utils";

$main-font-size: 1.6rem;

@font-face {
  font-family: 'PromixaNova';
  src: url("/assets/fonts/ProximaNova-Regular.otf") format('otf');
}

html, body {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-flow: column;
  color: $font-color;
  font-size: $main-font-size;
  font-family: ProximaNova, Montserrat, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

.two-columns {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}

.icon {
  width: 1.4rem;
  height: 1.4rem;
  stroke-width: 0.4;
}

svg {
  fill: currentColor;
  stroke: currentColor;
}

footer {
  height: 20px;
  padding: 7px 15px;
  margin-top: 10px;
  border-top: 1px solid $separator-light;
}

.wrapper {
  width: 100%;
}

/* Side Menu */
.menu-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 50px;
  z-index: 999;
}

.menu-toggle:focus,
.menu-toggle:hover {
  color: #fff;
}

.menu-toggle:hover {
  background: #343a40;
}

.marker-cluster-small {
  background-clip: padding-box;
  background-color: rgba(110, 204, 57, 0.8);
  width: 60px;
  height: 40px !important;
  border-radius: 15px;
  border: 5px solid rgba(181, 226, 140, 0.6);
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.marker-cluster-small > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  font: 10px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.marker-cluster-small .number-of-boats {
  font-weight: bold;
  font-size: 14px;
}
