@import "ember-bootstrap/bootstrap";
@import "ember-power-select";

body {
  color: rgb(44, 44, 44);
  font-size: 14px;
  font-family: Montserrat, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

header {
  padding: 7px 15px;
  width: 100%;
  display: flex;
  background-color: #07c;
  border-bottom: 1px solid slategrey;
}

footer {
  height: 20px;
  padding: 7px 15px;
  display: flex;
  background-color: #07c;
  margin-top: 10px;
  border-top: 1px solid slategrey;
}

.wrapper {
  width: 100%;
}

.body-wrapper {
  padding: 10px;
  display: flex;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}

.leaflet-container {
  height: 500px;
  width: 100%;
}

.leaflet-popup-content-wrapper {
  width: 250px;
  height: 100%;
}

.leaflet-popup img {
  width: 100%;
}

.boat-image-list {
  display: inline-flex;
  flex-wrap: wrap;

  .boat-image-with-details {
    display: flex;
    padding: 2px;

    img {
      width: 150px;
      height: 120px;
    }

    .boat-image-details {
      color: white;
      font-size: 12px;
      text-shadow: 1px 1px 1px black;
      position: absolute;
      padding-left: 4px;
    }
  }
}
/* Side Menu */
.menu-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 50px;
  z-index: 999;
}

.menu-toggle:focus,
.menu-toggle:hover {
  color: #fff;
}

.menu-toggle:hover {
  background: #343a40;
}

.boats-found {
  font-weight: bold;
  font-size: 1.3rem;
}

#sidebar-wrapper {
  margin-right: 15px;
  width: 0;
  height: 100%;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 13px;

  button.close {
    line-height: 1rem;
    font-size: 1rem;
    padding: 5px;
  }
}

#sidebar-wrapper.active {
  width: 200px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.sidebar-search {
  padding: 10px;
  border-radius: 3px;
  background: #febb02;

  .sidebar-search-heading {
    font-size: 1.2rem;
  }

  label {
    margin-top: 5px;
    margin-bottom: 1px;
  }

  input {
    font-size: 13px;
  }

  .twin-inputs {
    display: inline-grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
  }
}

.sidebar-filter {
  margin-top: 15px;
  padding: 15px 12px;
  border-radius: 3px;
  border: 1px solid lightgrey;

  .sidebar-filter-heading {
    font-weight: bold;
    font-size: 1rem;
  }

  .filter-subheading {
    font-weight: bold;
  }

  hr {
    margin-top: 5px;
  }
}

.listing-sort-wrapper {
  border-radius: 3px;
  border: 1px solid #07c;
  position: relative;
  border-top-width: 5px;
  margin-bottom: 10px;
  font-size: 12px;

  ul {
    margin-right: -1px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 0;
  }

  li {
    height: 25px;
    width: 100%;
    padding-top: 4px;
    text-align: center;
    border-right: 1px solid;
    border-top: 1px solid;
    border-color: #07c;
  }

  .selected {
    background-color: #0ab21b;
    font-weight: bold;
    color: white;
  }
}

.content {
  width: 100%;
}

.thumbnail-listing-container {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid lightgrey;
  display: flex;

  .thumbnail {
    margin-right: 15px;
  }

  .thumbnail img {
    width: 150px;
    height: auto;
  }

  .thumbnail-info {
    font-size: 14px;

    .listing-title {
      font-size: 16px;
      font-weight: bold;
    }
  }
}

.marker-cluster-small {
  background-clip: padding-box;
  background-color: rgba(110, 204, 57, 0.8);
  width: 60px;
  height: 40px !important;
  border-radius: 15px;
  border: 5px solid rgba(181, 226, 140, 0.6);
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.marker-cluster-small > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  font: 10px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.marker-cluster-small .number-of-boats {
  font-weight: bold;
  font-size: 14px;
}

.nav {
  align-items: center;

  .nav-link {
    color: white;
  }

  .navbar-brand {
    display: flex;

    img {
      margin-right: 5px;
    }
    float: left;
    font-size: 24px;
    font-weight: bold;
    color: white;

    span {
      color: #febb02;
    }
  }
}

.boat-search,
.globalSearch {
  margin: 0 0 10px 10px;

  label {
    margin-right: 5px;
  }

  input {
    height: 30px;
    margin-right: 10px;
  }
}

.boat-listing {
  display: flex;
  flex-direction: row;
  font-size: 0.7rem;
  border-bottom: 1px solid lightgrey;
  width: 100%;
  padding: 0 7px 7px 0;
  margin-bottom: 7px;

  .listing-thumbnail img {
    width: 160px;
    margin: 2px 15px 0 0;
  }

  .title {
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    align-items: center;
  }

  .favourite-toggle {
    font-size: 0.8rem;
    margin-right: 0.3rem;
    outline: none;

    .not-active {
      color: lightgrey;
    }

    .active {
      color: #febb02;
    }
  }
}

.favourites-list {
  height: auto;
  max-height: 400px;
  overflow-x: hidden;

  img {
    width: 100px;
    margin: 2px 15px 0 0;
  }
}

.transparent-button {
  background: transparent;
  border: none;
  margin: none;
  padding: 0;
}

.listing-images {
  display: flex;
  margin-right: 10px;

  .main-image {
    width: 200px;
    height: 156px;
    margin-left: auto;
    margin-top: auto;
    object-fit: cover;
  }

  .highlight {
    -moz-box-shadow: 0 0 3px orange;
    -webkit-box-shadow: 0 0 3px orange;
    box-shadow: 0 0 3px orange;
  }

  .zoom-overlay {
    // background-image: radial-gradient(orange 1px, transparent 1%);
    // background-size: 4px 4px;
    width: 10px;
    height: 10px;
    position: absolute;
  	background-image: radial-gradient(green 33%, transparent 33%);
  	background-size: 3px 3px;
    background-repeat: repeat;
    pointer-events: none;
  }

  .thumbnail-list {
    display: grid;
    grid-gap: 4px;
    grid-template-columns: 50px 50px;
    margin-left: 4px;

    .thumbnail {
      width: 50px;
      height: 36px;
      object-fit: cover;
    }
  }

  .more-images {
    filter: brightness(30%);
  }

  .last-image-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    .remaining-count {
      position: absolute;
      color: white;
      text-shadow: 0 0 3px black;
      font-weight: bold;
      text-align: center;
    }
  }

  .image-preview {
    position: fixed;
    overflow: hidden;
    border: 2px solid orange;
    // visibility: hidden;
    //
    // .is-active {
    //   visibility: visible;
    // }

    img {
      position: relative;
      top: 50%;
      left: 50%;
    }
    // img {
    //   width: 50px;
    //   height: 36px;
    //   margin-left: auto;
    //   margin-top: auto;
    //   object-fit: cover;
    // }
  }

}
