<button type="button" icon="glyphicon glyphicon-trash" {{on "click" this.sortByPrice}}>Sort by price</button>

<div class="boat-image-list">
  {{#each this.sortedBoats as |boat|}}
    <BoatImageWithDetails boat={{boat}} />
  {{/each}}
</div>
