<button type="danger" icon="glyphicon glyphicon-trash" {{action "sortByPrice"}}>Sort by price</button>

<div class="boat-image-list">
  {{#each sortedBoats as |boat|}}
    {{boat-image-with-details boat=boat}}
  {{/each}}
</div>
