.dialog-container {
  background-color: $bar-background-color;
  box-shadow: $bar-shadow;

  // Remove out of flow so mouse works
  position: absolute;
  bottom: calc(100% + 7.4rem);

  // buffer For background when bouncing up
  padding-bottom: 2rem;
  margin-bottom: -2rem;

  transition: opacity 300ms linear;
  opacity: 0;

  @include slide-down-animation;

  &.slide-up {
    transition: opacity 200ms linear;
    opacity: 1;
    @include bounce-up(0.25);
  }
}

.filter-dialog {
  width: 100%;
  background-color: $bar-background-color;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .reset {
      @extend %menu-text;
    }
  }

  .noUi-horizontal {
    margin: 4.5rem 1.5rem 2.5rem 1.5rem;
  }

  .body {
    padding: 2rem 0.5rem;
    // overflow-y: auto;
    // overflow-x: visible;
  }

  .min-to-max {
    display: flex;
    align-content: space-between;
    vertical-align: middle;

    input {
      width: 100%;
      text-align: center;
      color: $light-grey;

      &::placeholder {
        color: $light-grey;
      }

      &:focus {
        border-color: $teal;
        outline: 0;
      }
    }

    span {
      padding: 0 2rem;
      align-self: center;
    }
  }
}
