.mobile-listings {
  display: flex;
  flex: 1 1 250px;
  flex-direction: column;
}

.mobile-listing {
  position: relative;

  .carousel-bubble {
    transition: all 0.5s;
    position: absolute;
    margin: 0;
    border-radius: $border-radius;
    padding: 0.3rem 0.8rem;
    line-height: 2.2rem;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    z-index: 20;
    cursor: default;
  }

  .date-listed {
    @include data-tooltip;
    box-shadow: 0 0 0.2rem 0.2rem rgba(100, 100, 100, 0.2);
    width: 2.5rem;
    padding: 0;
    left: -0.2rem;
    top: -0.2rem;
    text-align: center;
    border: 0.1rem solid white;

    .month {
      border-bottom: 0.1rem solid darken(#f9f9f9, 5%);
      background-color: #f9f9f9;
      color: grey;
      line-height: 1rem;
      font-size: 0.8rem;
      letter-spacing: -0.03rem;
    }

    .day {
      background-color: white;
      color: $carousel-green;
      font-size: 1.3rem;
      line-height: 1.5rem;
      padding-top: 0.1rem;
    }

    &::before {
      top: -3rem;
      left: -1rem;
    }
  }
}
