.scroller {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1rem;
  overflow: auto;
  margin-bottom: 3rem;

  .listing {
    .image {
      //border: 3px dashed red;

      img {
        border-radius: $border-radius;
        object-fit: cover;
        width: 100%;
      }
    }

    .title {
      font-weight: bold;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 1.3rem;
    }

    .price, .details {
      font-size: 1.2rem;
    }

    .location {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 0.9rem;

      .icon {
        width: 1rem;
        height: 1rem;
        margin-right: 0.1rem;
      }
    }
  }

  // .listing-container {
  //   position: relative;
  //   height: 0;
  //   padding-bottom: 70%;
  //
  //   .listing {
  //     position:absolute;
  //     left: 0;
  //     top: 0;
  //     width: 100%;
  //     height: 100%;
  //
  //     img {
  //       object-fit: cover;
  //       width: 100%;
  //       height: 100%;
  //     }
  //   }
  // }
}
