<div class="info-bar">
  <div class="boats-found">
    {{#if @boatsFound}}
      <span class="number">{{@boatsFound}}</span> boats were found
    {{else}}
      No matching boats found
    {{/if}}
  </div>

  <Mobile::Sort @doSort={{@doSort}} @sortby={{@sortby}} />
</div>
