<div class="info-bar">
  <div class="boats-found">
    {{#if @boatsFound}}
      {{@boatsFound}} boats were found
    {{else}}
      No matching boats found
    {{/if}}
  </div>

  <Mobile::Sort />
</div>
