  <div class="boats-found">
    {{#if @boatsFound}}
      {{@boatsFound}} boats were found
    {{else}}
      No matching boats found
    {{/if}}
  </div>

<section class="listings">
  {{#each @boats as |boat|}}
    <Mobile::Listing @boat={{boat}} />
  {{/each}}
</section>
