<nav class="nav-bar">

  <div class="menu">MENU</div>

  <div class="logo">
    <img src="assets/logo-v2-small.png" width="32" height="35" alt="logo">
  </div>

  <div class="filter-button {{if @filterActive "active"}}" {{on "click" @toggleFilterMenu}}>FILTER</div>

</nav>
