<div class="search-bar">
  {{svg-jar "search" class="icon search-icon"}}
  <Input
    placeholder="Search"
    type="search"
    @value={{@filter.search.value}}
    class="no-border search-input no-select"
  />
  <div class="sort-button"></div>
</div>
