<div class="search-bar">
  <div class="search">
    {{svg-jar "search" class="icon search-icon"}}
    <Input
      placeholder="Search"
      type="search"
      @value={{@filter.search.value}}
      class="no-border search-input no-select"
    />
  </div>

  <div class="filter-button {{if @filterActive "active"}}" {{on "click" @toggleFilterMenu}}>
    FILTER
  </div>
</div>
