<div class="boat-image-with-details">
  <img src={{this.thumbnail}} alt="thumbnail">
  <div class="boat-image-details">
    <div class="boat-image-model">{{@boat.make}} {{@boat.model}}</div>
    <div class="boat-image-price"><PriceText record={{@boat}} /></div>
  </div>
</div>
