$height-aspect: 70%;

:root {
  --swiper-navigation-size: 2rem;
  --swiper-pagination-color: rgba(255,255,255,.5);
}

.carousel {
  border-radius: $border-radius;
  overflow: hidden;
  transition: all 0.3s;

  width: 100%;
  position: relative;
  padding-bottom: $height-aspect;

  ul, .swiper-container {
    display: flex;
    align-items: center;
  }

  .glide__slides {
    margin: 0;
  }

  .glide__arrow {
    box-shadow: none;
    border: none;

    .icon {
      width: 2rem;
      height: 2rem;
    }
  }

  .glide__arrow--right {
    right: 0.5rem;
  }

  .glide__arrow--left {
    left: 0.5rem;
  }

  .glide__slide img {
    transition: all 0.3s;
  }

  .glide__slide--active {
    z-index: 1000;
  }

  .glide__bullets--active {
    background-color: none;
  }

  // Hidden elements until hover
  .glide__arrow, .glide__bullets {
    opacity: 0;
  }

  .glide__bullets {
    transform: translateX(0);
    transition: transform 300ms, opacity 300ms;
    bottom: 1rem;

    .active {
      background-color: white;
      transition: background-color 300ms;
    }

    .inactive {
      transform: scale(0);
      transition: transform 300ms;
    }

    .small {
      transform: scale(0.8);
      transition: transform 300ms;
    }

    .smaller {
      transform: scale(0.4);
      transition: transform 300ms;
    }
  }



  &:hover {
    box-shadow: 0 0 1rem 0.2rem rgba(0,0,0,.3);

    .glide__slide img {
      transform: scale(1.05);
    }

    .glide__arrow, .glide__bullets {
      opacity: 1;
    }
  }

  .swiper-container {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
  }
}

.swiper-slide-active img {
  transition: transform 0.3s;
  transform-origin: center center;
}

.swiper-slide {
  border-radius: $border-radius;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.swiper-button-white {
  transition: opacity 0.3s;
  opacity: 0;
  padding: 0.5rem;
}
