.content {
  // background-color: $background-grey;
}

.boat-listings-container {
  display: inline-flex;
  flex-direction: column;
  flex-shrink: 1;
}

.listings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.boat-listing {
  flex: 0 0 280px;
  margin: 10px;

  .carousel:hover {
    .price, .year-length {
      transform: scale(0.75);
    }
  }

  .carousel-bubble {
    transition: all 0.5s;
    position: absolute;
    margin: 0;
    border-radius: $border-radius;
    padding: 3px 8px;
    line-height: 22px;
    color: white;
    font-weight: 600;
    font-size: 11px;
    z-index: 20;
    cursor: default;
  }

  .price {
    float: left;
    left: 10px;
    bottom: 10px;
    background-color: rgba($carousel-green, .9);
    transform-origin: bottom left;
  }

  .year-length {
    float: right;
    right: 10px;
    bottom: 10px;
    background-color: rgba($carousel-red, .9);
    transform-origin: bottom right;
  }

  .listing-actions {
    position: absolute;
    float: right;
    right: 7px;
    top: 15px;
    z-index: 10;

    .star-icon {
      width: 15px;
      height: 15px;
    }

    .favourite-toggle::before {
      content: attr(data-tooltip);
      opacity: 0;
      background: rgba(0, 0, 0, 0.75);
      border-radius: 4px;
      color: white;
      padding: 3px 10px;
      transition: opacity 0.3s ease;
      pointer-events: none;
    }

    .favourite-toggle:hover {
      &::before {
        opacity: 1;
      }
    }
  }

  .title {
    margin-top: 5px;
    font-size: 0.9rem;
    font-weight: 400;
    display: flex;
    align-items: center;
  }

  .details {
    font-size: 0.7rem;
  }

  .favourite-toggle {
    font-size: 0.8rem;
    margin-right: 0.3rem;

    .not-active {
      color: white;
    }

    .active {
      color: $yellow;
    }
  }
}
