.nav-bar {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid $separator-light;
  font-size: 1.4rem;

  .logo {
    margin-right: 1rem;
  }

  .nav-right {
    color: $light-grey;
    font-size: 1.4rem;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    width: 60%;
  }

  li {
    margin-right: 1rem;
  }

  li a {
    color: $light-grey;
    text-decoration: none;
  }
}
