.nav-bar {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid $separator-light;
  font-size: 1.4rem;

  .logo {
    margin-right: 1rem;
  }

  .nav-left {
    display: flex;
    align-items: center;
  }

  .nav-right {
    color: $light-grey;
    font-size: 1.4rem;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    font-size: 1.45rem;

    li {
      margin-left: 3rem;
    }

    li a {
      color: $light-grey;
      text-decoration: none;
    }

    .active {
      color: darken($light-grey, 40%);
    }
  }

  @media only screen and (max-width: 400px) {
    ul li {
      margin-left: 1.5rem;
    }
  }
}
