{{#if this.buttonText}}
  <div class="filter-button">
    <FaIcon @icon={{this.icon.type}} class={{this.icon.size}} />
    {{this.buttonText}}
    <FaIcon @icon="times" class="remove-icon" {{on "click" this.removeFilter}} />
  </div>
{{/if}}
