<div class="thumbnail-container" {{ref this "containerElement"}}>
  <img ...attributes
    alt="Thumbnail"
    {{ref this "imageElement"}}
    {{on "mousemove" this.handleMouseMove}}
  >
  <!-- <div class="zoom-overlay" {{ref this "zoomOverlay"}}></div> -->
</div>
